<ion-content [fullscreen]="true">
  <header class="header">
  <ion-menu side="end" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title></ion-title>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"></ion-content>
  </div>
  <ion-grid class="grid">
    <ion-row class="logo">
      <ion-col size="8" text-center>
        <img src="assets/img/logo.png" alt="Logo" width="80" height="50" />
      </ion-col>
    </ion-row>

    <ion-row class="search">
      <ion-col size="8">
        <ion-searchbar placeholder="Rechercher"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</header>

<ion-card>
  <div class="banner">
    <ion-card><img src="assets/img/1.jpg" alt="" height="200" width="200"></ion-card>
    <ion-card> Mini-Pizza</ion-card>
    <p>Prix :  <strong>100f</strong></p>
  </div>

  <div class="banner">
    <ion-card><img src="assets/img/kish.jpg" alt="" height="200" width="200"></ion-card>
    <ion-card> Kish</ion-card>
  </div>

  <div class="banner">
    <ion-card><img src="assets/img/fataya.jpg" alt="" height="200" width="200"></ion-card>
    <ion-card> Fataya</ion-card>
  </div>

  <div class="banner">
    <ion-card><img src="assets/img/crevettes.jpeg" alt="" height="200" width="200"></ion-card>
    <ion-card> Crevettes</ion-card>
  </div>

  <div class="banner">
    <ion-card><img src="assets/img/1.jpg" alt="" height="200" width="200"></ion-card>
    <ion-card> Mini-Pizza</ion-card>
  </div>

  <div class="banner">
    <ion-card><img src="assets/img/1.jpg" alt="" height="200" width="200"></ion-card>
    <ion-card> Mini-Pizza</ion-card>
  </div>
</ion-card>
</ion-content>
